<div class="md-whiteframe-3dp" layout="column">
    <md-list>
        <md-list-item flex layout="row">
            <span flex="40">Всього абонентів:</span>
            <span flex="40"> 5 </span>
        </md-list-item>
        <md-list-item flex layout="row">
            <span flex="40">Всього абонентів "онлайн":</span>
            <span flex="40"> 4 </span>
        </md-list-item>
        <md-list-item flex layout="row">
            <span flex="40">Всього тарифів:</span>
            <span flex="40"> 4 </span>
        </md-list-item>
        <md-list-item flex layout="row">
            <span flex="40">Всього абонентів з позитивним балансом:</span>
            <span flex="40"> 2 </span>
        </md-list-item>
        <md-list-item flex layout="row">
            <span flex="40">Всього абонентів з позитивним балансом:</span>
            <span flex="40"> 2 </span>
        </md-list-item>
    </md-list>

</div>